<p>Android Apps</p>
<ol>
	<li><a href="http://app.box.com/s/187rfvljgfp18j0qtd770hsdvkozvj9c">Puasa 2017</a></li>
</ol>
<p>Code</p>
<ol>
	<li><a href="https://gitlab.com/mzaini30/cloud/blob/master/README.md">Cloud</a></li>
	<li><a href="http://github.com/mzaini30">Github</a></li>
</ol>
<p>Contact</p>
<ol>
	<li><a href="mailto:muhzaini30@gmail.com">Email</a></li>
	<li><a href="http://facebook.com/mzaini30">Facebook</a></li>
	<li><a href="http://instagram.com/mzaini30">Instagram</a></li>
	<li><a href="http://line.me/ti/p/~mzaini30">LINE</a></li>
	<li><a href="http://t.me/mzaini30a">Telegram</a></li>
	<li><a href="https://api.whatsapp.com/send?phone=6281545143654">Whatsapp</a></li>
</ol>
<p>Marketplace</p>
<ol>
	<li><a href="http://bukalapak.com/u/mzaini30">Bukalapak</a></li>
	<li><a href="https://olx.co.id/all1.results/user/2cvdc/">OLX</a></li>
	<li><a href="https://shopee.co.id/mzaini30">Shopee</a></li>
	<li><a href="http://tokopedia.com/mzaini30">Tokopedia</a></li>
</ol>
<p>Professional</p>
<ol>
	<li><a href="https://www.linkedin.com/in/mzaini30">Linkedin</a></li>
</ol>
<p>Weapon</p>
<ol>
	<li><a href="https://github.com/git-for-windows/git/releases/download/v2.15.1.windows.2/Git-2.15.1.2-32-bit.exe">Git</a></li>
	<li><a href="https://www.python.org/ftp/python/2.7.14/python-2.7.14.msi">Python</a></li>
	<li><a href="https://download.sublimetext.com/Sublime%20Text%20Build%203143%20Setup.exe">Sublime Text</a></li>
</ol>
<p>Web apps</p>
<ol>
	<li><a href="/blogwalking2">Blogwalking</a></li>
	<li><a href="/download">Download</a></li>
	<li><a href="/enneagram">Enneagram</a></li>
	<li><a href="/enter">Enter</a></li>
	<li><a href="/font">Font</a></li>
	<li><a href="/link">Link</a></li>
	<li><a href="/markdown">Markdown</a></li>
	<li><a href="/color30">Materialize Color</a></li>
	<li><a href="/murajaah">Murajaah</a></li>
	<li><a href="/murajaah-simple">Murajaah Simpel</a></li>
	<li><a href="http://psikoweb.xyz">Psikoweb</a></li>
	<li><a href="/regex1.tab">Regex Tab</a></li>
	<li><a href="/review-jurnal">Review Jurnal</a></li>
	<li><a href="/tutorialjade">Tutorial Jade</a></li>
	<li><a href="/translate">Translate</a></li>
	<li><a href="/undian">Undian</a></li>
</ol>
<p>Writing</p>
<ol>
	<li><a href="https://mzaini30.wordpress.com/">Wordpress</a></li>
</ol>