
<!-- <h3 style="text-align: center;">- <a href="http://facebook.com/mzaini30">Facebook</a> &bull; <a href="http://twitter.com/mzaini30">Twitter</a> &bull; <a href="http://line.me/R/ti/g/Bj8RbT0Tub">LINE</a> &bull; <a href="http://telegram.me/zenblog">Telegram</a> -</h3> -->


<p style="font-size: 60%; text-align: center;">blog built using the <a href="https://github.com/jasonlong/cayman-theme">cayman-theme</a> by <a href="https://github.com/jasonlong">Jason Long</a>. <a href="http://creativecommons.org/licenses/by/4.0/">LICENSE</a></p>
